* {
  font-family: Rubik, sans-serif;
  position: relative;
}

body {
  font-family: Rubik;
}

header {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  padding: .7vw;
}

input {
  font-weight: 400;
}

.filter_list {
  max-height: 20vh;
  overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #0f5de4;
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar {
  width: 6px
}