.filter_section {
    display: flex;
    justify-content: space-around;
}

.option_title {
    font-size: 1.2vw;
}

.option_var {
    font-size: 1vw;
}

.filter_input, .filter_input_hotel, .filter_input_location, .filter_input_guests {
    border: none;
    outline: 0;
    font-size: 1vw;
    width: 90%;
    padding: .6vw 0;
}

.options_section {
    border-radius: 20px;
    padding: 0 .8vw;
    border: none;
    outline: 0;
    font-size: 1vw;
    max-height: 40vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    width: fit-content;
}

.filter_input_hotel {
    width: 26vw;
}

.filter_input_location {
    width: 18vw;
}

.filter_input_guests {
    width: 1vw;
    text-align: center;
    margin: 0 1vw;
}

@media screen and (max-width: 767px) {

    .filter_section {
        display: block;
    }
    .filter_input, .filter_input_hotel, .filter_input_location, .filter_input_guests {
        font-size: 4vw;
    }
    .option_title {
      font-size: 5vw;
    }
    .option_var {
        font-size: 3.5vw;
    }
  }
